In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/tripadvisor_hotel_reviews.csv')
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
data['Label'] = data['Rating'].map({1:0, 2:1, 3:2, 4:3, 5:4})
data = data.iloc[:, :3:2]
data.to_csv('../../data/dataset.csv', index=False)
data.head()

                                              Review  Label
0  nice hotel expensive parking got good deal sta...      3
1  ok nothing special charge diamond member hilto...      1
2  nice rooms not 4* experience hotel monaco seat...      2
3  unique, great stay, wonderful time hotel monac...      4
4  great stay great stay, went seahawk game aweso...      4

In [4]:
data.tail()

                                                  Review  Label
20486  best kept secret 3rd time staying charm, not 5...      4
20487  great location price view hotel great quick pl...      3
20488  ok just looks nice modern outside, desk staff ...      1
20489  hotel theft ruined vacation hotel opened sept ...      0
20490  people talking, ca n't believe excellent ratin...      1